doctype html
html
  head
    title Sample Form
  body
    h2 Sample Form
    form(name='sampleform' action='/showresults' method='POST')
      table(border='0')
        tr
          td Location
          td 
            input(name='location' id='location' type='text' size='30' required)
        tr
          td FE Name
          td
            input(name='fename' id='fename' type='text' size='30' required)
        tr
          td FE Email
          td
            input(name='feemail' id='feemail' type='text' size='30' required)      
        tr
          td Severity
          td
            select(name='severity' id='severity')
              option(value='High Penalty') High Penalty
              option(value='Penalty') Penalty
              option(value='Urgency') Urgency
              option(value='Regular') Regular
              option(value='Routine') Routine     
        tr
          td
            input(type='submit', name='submit', value='request')