doctype html 
html
  head
    title Show Results
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    case severity
        when "High Penalty"
            h2.highSeverity Show Results
        when "Penalty"
            h2.highSeverity Show Results
        when "Urgency"
            h2.mediumSeverity Show Results
        when "Regular"
            h2.lowSeverity Show Results
        default
            h2.lowSeverity Show Results
    table(border='1')
        tr
            td location:
            td #{location}
        tr
            td name:
            td #{fename}
        tr
            td name:
            td #{feemail}
        tr
            td severity:
            td #{severity}