extends layout

block content
	body(id="button1")
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			h1(id="title") Welcome
		.form-group.col-lg-4.col-md-6.col-sm-12.col-xs-12
			button(class="btn btn-default btn-lg btn-block", href="/fieldEngrHome")
				h2 Field Engineer 
		.form-group.col-lg-4.col-md-6.col-sm-12.col-xs-12
			button(class="btn btn-default btn-lg btn-block", href="/fieldEngrMngHome")
				h2 Field Engineer Manager
		.form-group.col-lg-4.col-md-6.col-sm-12.col-xs-12
			button(class="btn btn-default btn-lg btn-block", href="/toolMngHome")
				h2 Tool Manager